:root {
	/* === Colors === */
	--base-color: #767676;
	--accent-color: #f17f3d;
	--muted-color: rgba(142, 140, 140, 0.9);
	--dark-color: #474444;
	--light-color: #ffffff;

	--background-color: #ffffff;
	--background-color-dark: #0e0e0fd9;

	--title-gradient: linear-gradient(to right, #feb47b,  #cb875f, #f0ad4f);

	/* === Fonts === */
	--font-family-base: 'Raleway', sans-serif;
	--font-family-link: 'Charm', serif;

	/* === Grid and Layout container=== */
	--container-max-width: 1200px;
	--container-padding-x-desktop: 25px;
	--container-padding-x-mobile: 15px;
	--container-padding-y-desktop: 25px;
	--container-padding-y-mobile: 15px;

	/* === Grid and Layout section=== */
	--body-padding-top-desktop: 90px;
	--body-padding-top-mobile: 70px;

	/* === Borders === */
	--border-radius: 0.5rem;
	--border-width: 1px;
	--border-color: rgba(203, 135, 95, 0.3);

	/* === Shadows === */
	--shadow: 0 4px 6px rgba(203, 135, 95, 0.3);
	--shadow-sm: 0 1px 2px rgba(203, 135, 95, 0.05);
	--shadow-lg: 0 10px 15px rgba(203, 135, 95, 0.4);

	/* === Transitions === */
	--transition-duration: 0.3s;
	--transition-easing: ease-in-out;

	/* === Controls heights=== */
	--input-height: 59px;
	--button-height: 68px;

	/* === Z-Index === */
	--z-index-dropdown: 1000;
	--z-index-sticky: 1020;
	--z-index-fixed: 1030;
	--z-index-modal: 1050;
	--z-index-tooltip: 1070;
}
